[user]
	name = NordeN
	email = sher-rom2013@yandex.ru
[core]
	longpaths = true
	quotepath = off
	safecrlf = warn
	editor = vim
[merge]
	tool = meld
[diff]
	tool = meld
[alias]
	lore = log --all --pretty=format:'%C(174)%h%C(auto)%d %C(114)[%s]'
