alias ls='ls --color=auto'

# Uncomment for eza on server
# alias ls='eza --group --time-style="+%d.%m.%Y %H:%M:%S" --color=always --header --git '

# Uncomment for eza on workstation with nerd fonts
# alias ls='eza --group --time-style="+%d.%m.%Y %H:%M:%S" --color=always --header --git --icons=always'

alias l='ls --oneline'
alias la='ls -a'
alias ll='ls -l'
alias lla='ll -a'
alias lg='ls --grid'
alias lga='lg -a '
alias llg='ll --grid'
alias llga='llg -a'
alias llm='ll --sort=modified --reverse'
alias llma='llm -a'
alias lt='ls --tree --level 2'
alias lta='lt -a'
alias lx='lla --created --modified --changed --accessed'
alias lxs='lx --total-size'
alias cls='clear'
alias clshist='truncate -s 0 $HISTFILE && reset'
alias ip='ip -color=auto'
alias diff='diff --color=auto'
alias grep='grep --color=auto'
alias egrep='grep -E'
alias fgrep='grep -F'
alias igrep='grep -i'
alias less='less -R -s -M +Gg'
alias dmesg='dmesg --color=always'
alias mkdir='mkdir -p'
alias md='mkdir'
alias http='http --style material'
alias systemctl-services='systemctl list-units --type=service'
alias systemctl-services-running='systemctl list-units --type=service --state=running'
alias ipt='iptables'
alias iptlist='iptables -L -n --line-numbers'
alias ip6t='ip6tables'
alias ip6tlist='ip6tables -L -n --line-numbers'
alias mc='env LANG=ru_RU.UTF-8 mc'
alias sudomc='sudo env LANG=ru_RU.UTF-8 mc'
alias history-grep='history | grep'
alias path='echo -e ${PATH//:/\\n}'
alias df='df -H'
alias du='du -ch'
alias free='free -h'
alias wget='wget -c'
alias check-command='type -t'
alias hosts='sudo vim /etc/hosts'
alias headers='curl -I'
alias dig-short='dig +short'
alias dig-answer='dig +noall +answer'
alias externalip-dig='dig +short myip.opendns.com @resolver1.opendns.com'
alias externalip-curl='curl ifconfig.me'
alias ping-windows='ping -c 4'
alias flushdns='sudo systemd-resolve --flush-caches'
alias certinfo='openssl x509 -text -noout -in'
alias mountinfo='mount | column -t'
alias datetime='date "+%A %d.%m.%Y %H:%M:%S"'
alias venv-exit='deactivate'
alias which-packet='dpkg -S'

# CD aliases
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias ........='cd ../../../../../../..'

# Kali Linux
alias headers='http --headers'
alias vim='nvim'
alias powershell='pwsh -NoLogo'
alias msfconsole='msfconsole -q'
alias msf-handler='msfconsole -q -x "use exploit/multi/handler"'
alias www='list-ips && python3 -m http.server'
alias smb='list-ips && impacket-smbserver -smb2support norden-smb .'
alias empire-server='docker container start -ia empire'
alias havoc-server='cd /opt/software/Havoc && ./havoc server --profile data/havoc.yaotl'
alias adaptix-server='cd /opt/software/AdaptixC2/dist && ./adaptixserver -profile profile.json'
alias bloodhound='docker compose -f /opt/docker-compose/bloodhound-ce.yml -p bloodhound-ce start'
alias hashid='haiti'
alias base64file='base64 -w0'
alias villain='uv run --directory /opt/python-software/villain Villain.py'
alias hoaxshell='uv run --directory /opt/python-software/hoaxshell hoaxshell.py'
alias searchnmapscript="uv run --directory /opt/scripts searchnmapscript.py"
alias gef='gdb -x /opt/software/gef/.gdbinit'
alias rustscan='rustscan --ulimit 5000'
alias code="code --no-sandbox --user-data-dir $HOME/.vscode"
alias zed="env ZED_ALLOW_EMULATED_GPU=1 zed"
alias htb='cd /opt/ctf/htb'