alias ls='ls --color=auto'

# Uncomment for eza on server
# alias ls='eza --group --time-style="+%d.%m.%Y %H:%M:%S" --color=always --header --git '

# Uncomment for eza on workstation with nerd fonts
# alias ls='eza --group --time-style="+%d.%m.%Y %H:%M:%S" --color=always --header --git --icons=always'

alias l='ls --oneline'
alias la='ls -a'
alias ll='ls -l'
alias lsd='ll -d'
alias lla='ll -a'
alias lg='ls --grid'
alias lga='lg -a '
alias llg='ll --grid'
alias llga='llg -a'
alias llm='ll --sort=modified --reverse'
alias llma='llm -a'
alias lt='ls --tree --level 2'
alias lta='lt -a'
alias lx='lla --created --modified --changed --accessed'
alias lxs='lx --total-size'
alias cls='clear'
alias clshist='truncate -s 0 $HISTFILE && reset'
alias ip='ip -color=auto'
alias diff='diff --color=auto'
alias grep='grep --color=auto'
alias egrep='grep -E'
alias fgrep='grep -F'
alias igrep='grep -i'
alias less='less -R -s -M +Gg'
alias dmesg='dmesg --color=always'
alias mkdir='mkdir -p'
alias md='mkdir'
alias http='http --style material'
alias systemctl-services='systemctl list-units --type=service'
alias systemctl-services-running='systemctl list-units --type=service --state=running'
alias systemctl-timers='systemctl list-units --type=timer'
alias ipt='iptables'
alias iptlist='iptables -L -n --line-numbers'
alias ip6t='ip6tables'
alias ip6tlist='ip6tables -L -n --line-numbers'
alias mc='env LANG=ru_RU.UTF-8 mc'
alias sudomc='sudo env LANG=ru_RU.UTF-8 mc'
alias history-grep='history | grep'
alias path='echo -e ${PATH//:/\\n}'
alias df='df -H'
alias du='du -ch'
alias free='free -h'
alias wget='wget -c'
alias hosts='sudo vim /etc/hosts'
alias headers='curl -I'
alias dig-short='dig +short'
alias dig-answer='dig +noall +answer'
alias externalip-dig='dig +short myip.opendns.com @resolver1.opendns.com'
alias externalip-curl='curl ifconfig.me'
alias ping-windows='ping -c 4'
alias flushdns='sudo systemd-resolve --flush-caches'
alias mountinfo='mount | column -t'
alias datetime='date "+%A %d.%m.%Y %H:%M:%S"'
alias venv-exit='deactivate'
alias wg0='wg-quick up wg0'
alias vimless='vim -R'
alias vimdiff='vim -d'
alias docker-containers='docker ps --format "table {{.Names}}\t{{.Image}}\t{{.Status}}"'

# CD aliases
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias ........='cd ../../../../../../..'

# Kali Linux
alias headers='http --headers'
alias vim='nvim'
alias powershell='pwsh -NoLogo'
alias msfconsole='msfconsole -q'
alias msf-handler='msfconsole -q -x "use exploit/multi/handler"'
alias empire-server='docker container start -ia empire'
alias havoc-server='cd /opt/software/Havoc && ./havoc server --profile data/havoc.yaotl'
alias adaptix-server='cd /opt/software/AdaptixC2/dist && ./adaptixserver -profile profile.json'
alias hashid-haiti='haiti -e'
alias b64encode-file='base64 -w0'
alias gef='gdb -x /opt/software/gef/.gdbinit'
alias rustscan='rustscan --no-banner --ulimit 5000'
alias code="/usr/share/code/code --no-sandbox"
alias codediff='code --diff'
alias zed="env ZED_ALLOW_EMULATED_GPU=1 ZED_ALLOW_ROOT=true zed"
alias ctf-htb='cd /opt/ctf/htb'
alias smbmap='smbmap --no-banner'
alias wfuzz='wfuzz -c'
alias file-magika='magika --format "| %p: %d (%g) %S | Возможное расширение: %e | MIME тип: %m |"'
alias dog-short='dog -1'
alias strings-floss='floss'
alias ffuf='ffuf -c'