alias ls='ls --color=auto'

# Uncomment for eza on server
# alias ls='eza --group --time-style="+%d.%m.%Y %H:%M:%S" --color=always --header --git '

# Uncomment for eza on workstation with nerd fonts
# alias ls='eza --group --time-style="+%d.%m.%Y %H:%M:%S" --color=always --header --git --icons=always'

alias l='ls --oneline'
alias la='ls -a'
alias ll='ls -l'
alias lla='ll -a'
alias lg='ls --grid'
alias lga='lg -a '
alias llg='ll --grid'
alias llga='llg -a'
alias llm='ll --sort=modified --reverse'
alias llma='llm -a'
alias lt='ls --tree --level 2'
alias lta='lt -a'
alias lx='lla --created --modified --changed --accessed'
alias lxs='lx --total-size'
alias cls='clear'
alias clearhistoty='truncate -s 0 $HISTFILE && reset'
alias ip='ip -color=auto'
alias diff='diff --color=auto'
alias grep='grep --color=auto'
alias egrep='grep -E'
alias fgrep='grep -F'
alias less='less -R -s -M +Gg'
alias dmesg='dmesg --color=always'
alias mkdir='mkdir -p'
alias http='http --style material'
alias systemctl-services='systemctl list-units --type=service'
alias systemctl-services-running='systemctl list-units --type=service --state=running'
alias ipt='iptables'
alias iptlist='iptables -L -n --line-numbers'
alias ip6t='ip6tables'
alias ip6tlist='ip6tables -L -n --line-numbers'
alias mc='env LANG=ru_RU.UTF-8 mc'
alias sudomc='sudo env LANG=ru_RU.UTF-8 mc'
alias hg='history | grep'
alias path-show='echo -e ${PATH//:/\\n}'
alias df='df -H'
alias du='du -ch'
alias free='free -h'
alias wget='wget -c'
alias catwithoutcomments='grep -v "^$\|^#"'
alias checkcommand='type -t'
alias hosts='sudo vim /etc/hosts'
alias dig-short='dig +short'
alias dig-answer='dig +noall +answer'
alias externalip-dig='dig +short myip.opendns.com @resolver1.opendns.com'
alias externalip-curl='curl ifconfig.me'
alias ping-windows='ping -c 4'
alias flushdns='sudo systemd-resolve --flush-caches'
alias certinfo='openssl x509 -text -noout -in'
alias headers='curl -I'
# alias headers='http --headers'
alias mountinfo='mount | column -t'
alias datetime='date "+%A %d.%m.%Y %H:%M:%S"'
alias venv-activate='source .venv/bin/activate'
alias venv-deactivate='deactivate'

# CD aliases
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias ........='cd ../../../../../../..'

# Kali Linux
alias msfconsole='msfconsole -q'
alias msfconsole-handler='msfconsole -q -x "use multi/handler"'
alias empire-server='docker container start -ia empire'
alias www='list_ips && python3 -m http.server'
alias smb='list_ips && impacket-smbserver -smb2support norden_smb .'
alias havoc-server='havoc server --profile /usr/share/havoc/profiles/havoc.yaotl'